<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://mvnrepository.com/artifact/org.thymeleaf.extras/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://mvnrepository.com/artifact/org.thymeleaf.extras/thymeleaf-extras-springsecurity5 "
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "/css/quiz.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2>Quiz Online</h2>
    <div id = "count"> Time Start </div>
    <div id="exTab2" class="container" th:each="section : ${section}">
        <form name="quizForm" th:action="@{/api/quiz/Result}">
            <ul id="pagination" class="nav nav-tabs pagination">
                <li class="page-item"><a id="prev" class="page-link" href="#">Previous</a></li>
<!--                <li class="page-item active"> <a id="button" data-toggle="tab" th:href="@{#1}">1</a ></li>-->

            </ul>
            <button th:each="test : ${listTest}" onclick="appearFunction()" id="done" th:value="${test.id}"  style="margin-left: 50px; margin-top: -65px" type="submit" class="btn btn-success">Finish</button>
            <div class="tab-content" >
                <div class="tab-pane" th:each="question, state : ${listQuestion}" th:id="${state.count}">
                    <h2 th:value="${question.id}" th:text="Question+' ' + ${state.count}"></h2>
                    <div id = "questions" >
                        <div th:value="${question.id}" th:remove="tag" th:utext="${question.question_desc}"></div>
                    </div>
                    <div id="answers">
                        <div  class="radio" th:each="choice :${listChoice}" th:if="${question.id.equals(choice.question_id)}">
                            <label>
                                <input class="choice_id" th:value="${choice.id}" type="radio" th:name="${question.id}" name="choice_id" th:utext="${choice.choice_desc}">
                            </label>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</div>
<hr>
</div>
<script src="/js/quiz.js"></script>
<script th:inline="javascript">
    $( document ).ready(function() {
        current_url = window.location.href
        $.ajax({
            type: "POST", url: "/api/admin/getTimeOfTest", dataType: 'json',
            data: {
                current_url: current_url
            }, success: function (result) {
                $.ajax({
                    type: "POST", url: "/api/admin/getNumberofTest", dataType: 'json',
                    data: {
                        current_url: current_url
                    }, success: function (numberQues) {
                        window.value = numberQues.numberQuestion;
                        createPagination(numberQues.numberQuestion);
                        HienThiThoiGianThi(result.time);
                    }
                })

            }
        })
        $(".tab-pane").first().addClass("active");
        $(function () {
            var nextBtn = $("#next"),
                prevBtn = $("#prev");
            nextBtn.on('click', function (e) {
                var active = $(".active");
                var next = active.next('.tab-pane');
                var next_li = active.next('.page-item')

                if (next.length) {
                    active.removeClass('active');
                    next.addClass('active');
                    next_li.addClass('active');
                }
            });
            prevBtn.on('click', function (e) {
                var active = $(".active");
                var prev = active.prev('.tab-pane');
                var prev_li = active.prev('.page-item')
                if (prev.length) {
                    active.removeClass('active');
                    prev.addClass('active');
                    prev_li.addClass('active');
                }
            });
        });
        $(function () {
            $('.choice_id').click(function () {
                var getChoiceId = $(this).val();
                $('.page-item.active > .button').removeClass("button").addClass("highlightLITag");
                console.log(getChoiceId);
                $.ajax({
                    type: "POST",
                    url: "/api/quiz/addChoice",
                    dataType: 'json',
                    data: {
                        getChoiceId: getChoiceId,
                        current_url:current_url
                    },
                    success: function (data) {
                    },
                });
            })
        });

        // slight update to account for browsers not supporting e.which
        function disableF5(e) {
            if ((e.which || e.keyCode) == 116) e.preventDefault();
        };
        $(document).on("keydown", disableF5);
    });
    window.onbeforeunload = closingCode;
    function closingCode(){
        SubmitForm();
        return null; //<-- this prevents the dialog confirm box
    }

</script>
</body>
</html>