<div class="profile clearfix" data-th-fragment="user_top_nav">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">
            <img id="logo_quiz"  width="30" height="20"/>
        </a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="../userProfile.html">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../section.html">Let's take a quiz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../userResult.html">User result</a>
            </li>
            <a href="/logout" class="btn btn-info btn-lg" value="/logout">
                <span class="glyphicon glyphicon-log-out" ></span> Log out
            </a>

            <!-- Dropdown -->
        </ul>
    </nav>
</div>