<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Teacher - Thêm mới bài làm</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">

    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}" rel="stylesheet">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script th:src='@{https://kit.fontawesome.com/a076d05399.js}'></script>

    <!-- Custom styles for this template-->
    <link th:href="@{/css/teacherCSS/sb-admin-2.min.css}" rel="stylesheet">
    <style type="text/css">

        table.table td a {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            min-width: 24px;
        }

        table.table td a.edit {
            color: #FFC107;
        }

        table.table td a.delete {
            color: #E34724;
        }

        table.table td i {
            font-size: 19px;
        }
    </style>


    <script type="text/javascript">

        // select choice a field and a subject
        $(document).ready(function () {
            //Show DataTable
            $('#listSection').on('change', e => {
                var section_id_value = $('#listSection option:selected').val();
                console.log(section_id_value);
                if (section_id_value === 'C plus - plus') {
                    console.log("Done!");
                    $('#listTopic').empty();
                    $('#listTopic').append("<option selected>" + "Topics..." + "</option>");
                    $('#listTopic').append("<option value=" + '"Constructors"' + ">" + "Constructors" + "</option>");
                    $('#listTopic').append("<option value=" + '"This Pointer"' + ">" + "This Pointer" + "</option>");
                    $('#listTopic').append("<option value=" + '"Inheritance"' + ">" + "Inheritance" + "</option>");
                    $('#listTopic').append("<option value=" + '"New and Delete"' + ">" + "New and Delete" + "</option>");
                }
                if (section_id_value === 'Java') {
                    $('#listTopic').empty();
                    $('#listTopic').append("<option selected>" + "Topics..." + "</option>");
                    $('#listTopic').append("<option value=" + '"Functions"' + ">" + "Functions" + "</option>");
                    $('#listTopic').append("<option value=" + '"Inheritance"' + ">" + "Inheritance" + "</option>");
                    $('#listTopic').append("<option value=" + '"Constructors"' + ">" + "Constructors" + "</option>");
                    $('#listTopic').append("<option value=" + '"Arrays"' + ">" + "Arrays" + "</option>");

                }
                if (section_id_value === 'Python') {
                    $('#listTopic').empty();
                    $('#listTopic').append("<option selected>" + "Topics..." + "</option>");
                    $('#listTopic').append("<option value=" + '"Functions"' + ">" + "Functions" + "</option>");
                    $('#listTopic').append("<option value=" + '"Miscellaneous"' + ">" + "Miscellaneous" + "</option>");
                    $('#listTopic').append("<option value=" + '"Data Type"' + ">" + "Data Type" + "</option>");
                    $('#listTopic').append("<option value=" + '"Output"' + ">" + "Output" + "</option>");
                }
                if (section_id_value === 'Data Structures') {
                    $('#listTopic').empty();
                    $('#listTopic').append("<option selected>" + "Topics..." + "</option>");
                    $('#listTopic').append("<option value=" + '"Linked List"' + ">" + "Linked List" + "</option>");
                    $('#listTopic').append("<option value=" + '"Stack"' + ">" + "Stack" + "</option>");
                    $('#listTopic').append("<option value=" + '"Binary Trees"' + ">" + "Binary Trees" + "</option>");
                    $('#listTopic').append("<option value=" + '"Graph"' + ">" + "Graph" + "</option>");
                    $('#listTopic').append("<option value=" + '"Hash"' + ">" + "Hash" + "</option>");
                    $('#listTopic').append("<option value=" + '"Misc"' + ">" + "Misc" + "</option>");
                }
            })
            $('#addChoice').on('click', e => {
                $('#listChoice').append("<div class='form-group'>\n" +
                    "                                        <label for='formGroupExampleInput'>Next Choice</label>\n" +
                    "                                        <input type='text' class='form-control' th:id='${user.id}' placeholder='Next choice'>\n" +
                    "                                        <input type='radio' class='form-check-input' name='optradio' value='1' style='margin-left: -0.9'>This is the right Choice\n" +
                    "                                    </div>")

            })
        })
    </script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="class.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Add new Quiz</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="class.html">
                <i class="fas fa-fw fa-table"></i>
                <span>THÊM BÀI LÀM MỚI</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
               aria-controls="collapseTwo">
                <i class="fas fa-fw fa-user-edit"></i>
                <span>QUẢN LÝ</span>
            </a>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">QUẢN LÝ:</h6>
                    <a class="collapse-item active" href="teacher.html">LỚP</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-edit"></i>
                <span>QUIZ</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom QUIZ:</h6>
                    <a class="collapse-item" href="addQuiz.html">Thêm quiz mới</a>
                    <a class="collapse-item" href="updateQuiz.html">Cập nhật quiz</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>


                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${#authentication.getPrincipal().getUsername()}"></span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Thêm Quiz mới</h1>

                <div class="row">

                    <div class="col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="listClass">Class</label>
                                            <select id="listClass" class="form-control" >
                                                <option disabled selected>Class...</option>
                                                <option th:each="course : ${listCourse}" th:value="${course.name}"
                                                        th:text="${course.name}"/>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="Timer">So Cau</label>
                                            <input type="text" class="form-control" id="numberQuestion">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="Timer">Time</label>
                                            <input type="text" class="form-control" id="Timer">
                                        </div>
                                    </div>
                                </form>

                                <form name="ckeditor" th:action="@{/api/admin/addQuestion}">
                                    <br>
                                    <div class="panel panel-success">
                                        <div class="panel-heading">Danh sach bai lam</div>
                                        <table class="table table-hover">
                                            <thead>
                                            <tr>
                                                <th style="width: 15%" class="text-center">STT</th>
                                                <th class="text-center">Ten Bai Lam</th>
                                                <th style="width: 15%" class="text-center">So Cau</th>
                                                <th style="width: 15%">Thoi Gian Thi</th>
                                                <th style="width: 15%">Action</th>
                                            </tr>
                                            </thead>
                                            <tbody id="dataTest">


                                            </tbody>
                                        </table>
                                    </div>
<!--                                    <script>-->
<!--                                        // Replace the <textarea id="editor1"> with a CKEditor-->
<!--                                        // instance, using default configuration.-->
<!--                                        CKEDITOR.replace('editor1');-->
<!--                                    </script>-->

                                </form>


                                <button onclick="addBaiLam()" id="addBaiLam" class="btn btn-primary">Submit</button>


                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/teacherJS/jquery.min.js}"></script>
<script th:src="@{js/teacherJS/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/js/teacherJS/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/teacherJS/sb-admin-2.min.js}"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({type: "POST", url: "/api/admin/getFullTest", dataType: 'json',
            data : {

            },success: function(result){

                $.ajax({type: "POST", url: "/api/admin/getClassTest", dataType: 'json',
                    data : {

                    },success: function(dataClass){

                        var i = 0
                        var j = 1
                        for(i; i< result.length; i++)
                        {
                            $("#dataTest").append("<tr>" +
                                "<td class=\"text-center\">"+j+"</td>"+
                                "<td class=\"text-center\">"+ dataClass[i].name + "</td>"+
                                "<td class=\"text-center\"><span class=\"label label-danger\">" + result[i].numberQuestion +" cau</span></td>"+
                                "<td class=\"text-center\"><span class=\"label label-danger\">"+ result[i].time +" phut</span></td>"+
                                "<td>"+
                                "<button type=\"button\" class=\"btn btn-warning btn-sm\">Edit</button>"+
                                " <button type=\"button\" class=\"btn btn-danger btn-sm\">Delete</button>"+
                                "</td>"+
                                "</tr>"
                            )
                            j++;
                        }
                    }})
        }})

    })

    function addBaiLam() {
        // Lay STT on tbody, FUCK ME
        let rows = document.getElementsByTagName('tbody')[0].rows;
        let STT = rows.length+1;
        let Class = $("#listClass").children("option").filter(":selected").text();
        let SoCau = $("#numberQuestion").val();
        let ThoiGian = $("#Timer").val();
        console.log(Class, SoCau, ThoiGian)
        $.ajax({type: "POST", url: "/api/admin/addQuizTest", dataType: 'json',
            data : {
                Class : Class,
                SoCau : SoCau,
                ThoiGian : ThoiGian
            },success: function(result){

                $.ajax({type: "POST", url: "/api/admin/getClassTest", dataType: 'json',
                    data : {
                        Class : Class,
                        SoCau : SoCau,
                        ThoiGian : ThoiGian
                    },success: function(dataClass){
                        $("#dataTest").empty()
                        var i = 0
                        var j = 1
                        for(i; i< result.length; i++)
                        {
                            $("#dataTest").append("<tr>" +
                                "<td class=\"text-center\">"+j+"</td>"+
                                "<td class=\"text-center\">"+ dataClass[i].name + "</td>"+
                                "<td class=\"text-center\"><span class=\"label label-danger\">" + result[i].numberQuestion +" cau</span></td>"+
                                "<td class=\"text-center\"><span class=\"label label-danger\">"+ result[i].time +" phut</span></td>"+
                                "<td>"+
                                "<button type=\"button\" class=\"btn btn-warning btn-sm\">Edit</button>"+
                                " <button type=\"button\" class=\"btn btn-danger btn-sm\">Delete</button>"+
                                "</td>"+
                                "</tr>"
                            )
                            j++;
                        }
                    }})
            }})
        //         let text = "<tr>" +
        // "<td class=\"text-center\">"+STT+"</td>"+
        // " <td class=\"text-center\">"+ Class + "</td>"+
        // "<td class=\"text-center\"><span class=\"label label-danger\">" + SoCau +" cau</span></td>"+
        // "<td class=\"text-center\"><span class=\"label label-danger\">"+ ThoiGian +" phut</span></td>"+
        // "<td>"+
        // "<button type=\"button\" class=\"btn btn-warning btn-sm\">Edit</button>"+
        //    " <button type=\"button\" class=\"btn btn-danger btn-sm\">Delete</button>"+
        //    "</td>"+
        //     "</tr>";
        // $("tbody").append(text);
    }
</script>
</body>

</html>