<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://mvnrepository.com/artifact/org.thymeleaf.extras/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>Topic</th>
            <th>ID</th>
        </tr>
        <tr th:each="question : ${listQuestion}" >
            <td>
                <a>
                    <a th:text="${question.question_desc}"></a>
                </a>
            </td>
            <td>
                <p th:text="${question.id}"></p>
            </td>
        </tr>
    </table>
</body>
</html>