<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Teacher - Class</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">

    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}" rel="stylesheet">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script th:src='@{https://kit.fontawesome.com/a076d05399.js}'></script>

    <!-- Custom styles for this template-->
    <link th:href="@{/css/teacherCSS/sb-admin-2.min.css}" rel="stylesheet">
    <style type="text/css">

        table.table td a {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            min-width: 24px;
        }
        table.table td a.edit {
            color: #FFC107;
        }
        table.table td a.delete {
            color: #E34724;
        }
        table.table td i {
            font-size: 19px;
        }
    </style>


    <script type="text/javascript">

        // select choice a field and a subject
        $(document).ready(function () {

            //Show DataTable
            // $('#listClass').on('change', e => {
            //     var section_id_value =  $('#listClass option:selected').val();
            //     console.log(section_id_value);
            //     if(section_id_value === '17Nh14'){
            //         $('#students').empty()
            //         $('#students').append("<tr>" +
            //             "<td id='mssv1' value='001'>001</td>" +
            //             "<td id='ho1' value='Nguyen'>Nguyen</td>" +
            //             "<td id='ten1' value='Van A'>Van A</td>" +
            //             "<td id='class1' value='17TCLC1'>17TCLC1</td>" +
            //             "<td id='dob1' value='1/1/1999'>1/1/1999</td>" +
            //             "<td id='pob1' value='Da Nang'>Da Nang</td>" +
            //             "<td>" +
            //             "<a class='edit' title='Edit' th:id='${user.id}' data-toggle='tooltip'><i th:id='${user.id}' class='material-icons'>&#xE254;</i></a>" +
            //             "<a th:id='${user.id}' class='delete' title='Delete' data-toggle='tooltip'><i th:id='${user.id}' class='material-icons'>&#xE872;</i></a>" +
            //             "</td>" +
            //             "</tr>")
            //     }
            //     if(section_id_value === '17Nh16'){
            //         $('#students').empty()
            //         $('#students').append("<tr>" +
            //             "<td id='mssv2' value='002'>002</td>" +
            //             "<td id='ho2' value='Nguyen'>Nguyen</td>" +
            //             "<td id='ten2' value='Van B'>Van B</td>" +
            //             "<td id='class2' value='17TCLC1'>17TCLC1</td>" +
            //             "<td id='dob2' value='1/1/1999'>1/1/1999</td>" +
            //             "<td id='pob2' value='Quang Nam'>Quang Nam</td>" +
            //             "<td>" +
            //             "<a class='edit' title='Edit' th:id='${user.id}' data-toggle='tooltip'><i th:id='${user.id}' class='material-icons'>&#xE254;</i></a>" +
            //             "<a th:id='${user.id}' class='delete' title='Delete' data-toggle='tooltip'><i th:id='${user.id}' class='material-icons'>&#xE872;</i></a>" +
            //             "</td>" +
            //             "</tr>")
            //     }
            //     if(section_id_value === '17Nh18'){
            //         $('#students').empty()
            //         $('#students').append("<tr>" +
            //             "<td id='mssv3' value='003'>003</td>" +
            //             "<td id='ho3' value='Nguyen'>Nguyen</td>" +
            //             "<td id='ten3' value='Van C'>Van C</td>" +
            //             "<td id='class3' value='17TCLC2'>17TCLC2</td>" +
            //             "<td id='dob3' value='1/1/1999'>1/1/1999</td>" +
            //             "<td id='pob3' value='Hue'>Hue</td>" +
            //             "<td>" +
            //             "<a class='edit' title='Edit' th:id='${user.id}' data-toggle='tooltip'><i th:id='${user.id}' class='material-icons'>&#xE254;</i></a>" +
            //             "<a th:id='${user.id}' class='delete' title='Delete' data-toggle='tooltip'><i th:id='${user.id}' class='material-icons'>&#xE872;</i></a>" +
            //             "</td>" +
            //             "</tr>")
            //
            //     }
            //     if (section_id_value === 'Class'){
            //         $('#students').empty();
            //     }
            //     $('.edit').on('click', e => {
            //         $('#editModal').modal('show');
            //         console.log($(e.target).context.id)
            //         var user_id = $(e.target).context.id;
            //
            //         $.ajax({type: "POST",url: "/api/admin/getUser",dataType : 'json',
            //             data : {
            //                 user_id : user_id
            //             }, success: function(result){
            //                 console.log(result);
            //             }})
            //             .done(function( data ) {
            //                 var lastname = data.lastName
            //                 var firstname = data.firstName
            //                 console.log(lastname + '   ' + firstname);
            //                 var userEmail = data.email;
            //                 $("#editModal #editLastName").val( lastname );
            //                 $("#editModal #editFirstName").val( firstname );
            //                 $("#editModal #editUserEmail").val( userEmail );
            //             });
            //     })
            //     $('.delete').on('click', e => {
            //         $('#deleteModal').modal('show');
            //         var user_id = $(e.target).context.id;
            //         $('#save_delete').on('click', function() {
            //             console.log("in here")
            //             console.log(user_id)
            //             $.ajax({type: "POST",url: "/api/admin/DeleteUser",dataType : 'json',
            //                 data : {
            //                     user_id : user_id
            //                 }, success: function(result){
            //                     $('#deleteModal').modal('hide');
            //                 }})
            //                 .done(function( data ) {
            //                     console.log("Yeah")
            //                 });
            //             $('#deleteModal').modal('hide');
            //
            //             $(e.target)[0].parentNode.closest("tr").remove()
            //         })
            //     })
            //     $('#saveChanges').on('click', e => {
            //         var lastname = $("#editModal #editLastName").val().trim()
            //         var firstname = $("#editModal #editFirstName").val().trim()
            //         var useremail = $("#editModal #editUserEmail").val().trim()
            //
            //         $.ajax({type: 'POST',url: "/api/admin/changeProfile",dataType : 'json',
            //             data : {
            //                 lastName : lastname,
            //                 firstName: firstname,
            //                 userEmail:useremail
            //             }, success: function(result){
            //
            //             }})
            //             .done(function( data ) {
            //                 $('#editModal').modal('hide');
            //                 location.reload();
            //                 // $('#datatable .lastName').val(data.lastName)
            //                 // $('#datatable .firstNName').val(data.firstName)
            //                 // $('#datatable .userEmail').val(data.userEmail)
            //             });
            //     });
            // });
            $('#AddNewStudent').on('click', e=> {
                $('#AddNewModal').modal('show');
                $('#addNew_saveChanges').on('click', e=>{
                    var mssv = $("#AddNewModal #addMSSV").val().trim()
                    var lastName = $("#AddNewModal #addLastName").val().trim()
                    var firstName = $("#AddNewModal #addFirstName").val().trim()
                    var classSH = $("#AddNewModal #addClassSH").val().trim()
                    var DoB = $("#AddNewModal #addDoB").val().trim()
                    var PoB = $("#AddNewModal #addPoB").val().trim()
                    // $.ajax({type: 'POST',url: "/api/admin/AddNewStudent",dataType : 'json',
                    //     data : {
                    //         lastName : lastName,
                    //         firstName: firstName,
                    //         userEmail: userEmail,
                    //         userPass : userPass
                    //     }, success: function(result){
                    //
                    //     }})
                        .done(function( data ) {

                        });

                    $('#AddNewModal').modal('hide');
                    location.reload();
                })
            })
            $('#listClass').on('change', e => {
                var course_name =  $('#listClass option:selected').text();
                console.log(course_name);

                $.ajax({type: "POST", url: "/api/admin/getListStudentofCourse", dataType: 'json',
                    data : {
                        course_name : course_name
                    },success: function(result){
                        console.log(result)
                        $.ajax({type: "POST", url: "/api/admin/getListStudentofCourseClass", dataType: 'json',
                            data : {
                                course_name : course_name
                            },success: function(dataClass){
                                $('#students').empty()

                                var i;
                                for (i = 0; i < result.length; i++) {
                                    console.log(result[i].firstName+ result[i].lastName)
                                    console.log(result[i].email)
                                    console.log(result[i].location)
                                    console.log(dataClass[i].className)
                                    $('#students').append("<tr>" +
                                        "<td>"+result[i].MSSV+"</td>" +
                                        "<td>"+result[i].firstName+" "+result[i].lastName+"</td>" +
                                        "<td>"+result[i].location+"</td>" +
                                        "<td>"+result[i].email+"</td>" +
                                        "<td>"+dataClass[i].className+"</td>" +
                                        "<td>" +
                                        "<a class='edit' title='Edit' id='iconedit1' data-toggle='tooltip'><i class='material-icons'>&#xE254;</i></a>" +
                                        "<a id='icondelete1' class='delete' title='Delete' data-toggle='tooltip'><i class='material-icons'>&#xE872;</i></a>" +
                                        "</td>" +
                                        "</tr>")
                                }
                            }})

                    }})

                //Click edit button DEMO
                $('#iconedit1').on('click', e => {
                    $('#editModal').modal('show');
                    //Đổ thông tin giáo viên theo id giáo viên tương ứng
                });
                //Click delete button DEMO
                $('#icondelete1').on('click', e => {
                    $('#deleteModal').modal('show');
                    //Xử lí nút Có: id: save_delete

                });
            })
        })
    </script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="class.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Teacher</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="class.html">
                <i class="fas fa-fw fa-table"></i>
                <span>DANH SÁCH LỚP</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-user-edit"></i>
                <span>QUẢN LÝ</span>
            </a>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">QUẢN LÝ:</h6>
                    <a class="collapse-item active" href="teacher.html">LỚP</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-edit"></i>
                <span>QUIZ</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom QUIZ:</h6>
                    <a class="collapse-item" href="addQuiz.html">Thêm quiz mới</a>
                    <a class="collapse-item" href="updateQuiz.html">Cập nhật quiz</a>
                    <a class="collapse-item" href="addBaiLam.html">Thêm Bài Test</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>


                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${#authentication.getPrincipal().getUsername()}"></span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">QUẢN LÝ LỚP HỌC PHẦN</h1>

                <div class="row">

                    <div class="col-lg-12">

                        <!-- nội dung QUẢN LÝ LỚP HỌC PHẦN -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <form>
                                    <select class="custom-select" style="width: 30%" id="listClass">
                                        <option id="Class"disabled value="Class" selected>Class...</option>
                                        <option th:each="class :  ${listClass}" th:value="${class.id}" th:text="${class.name}"/>

                                    </select>
                                </form>
                                <button id="AddNewStudent" type="button" class="btn btn-primary" style="margin-top: 1em">Add A New Student</button>

                            </div>

                            <!--Table Quản Lý-->
                            <div class="card-body">
                                <table id="datatable" class="table table-bordered table-striped" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th>MSSV</th>
                                        <th>Full Name</th>
                                        <th>Address</th>
                                        <th>User's email</th>
                                        <th>ClassName</th>
                                        <th>Setting</th>
                                    </tr>
                                    </thead>
                                    <tbody id="students">

                                    </tbody>
                                </table>
                                <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Xóa sinh viên này ?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Bạn có muốn xóa sinh viên này ? </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button id="save_delete" type="button" class="btn btn-primary">Có, hãy xóa sinh viên này</button>
                                                <button type="button" class="btn btn-secondary save_delete" data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModal_title">Sửa thông tin sinh viên</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="mssv">MSSV</label>
                                                    <input type="text" class="form-control" id="editMSSV" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="LastName">Họ</label>
                                                    <input type="text" class="form-control" id="editLastName" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="FirstName">Tên</label>
                                                    <input type="text" class="form-control" id="editFirstName" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="ClassSH">Lớp Sinh Hoạt</label>
                                                    <input type="text" class="form-control" id="editClassSH" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="DoB">Ngày Sinh</label>
                                                    <input type="text" class="form-control" id="editDoB" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="PoB">Nơi Sinh</label>
                                                    <input type="text" class="form-control" id="editPoB" >
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button id="saveChanges" type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="AddNewModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="AddNewModal_title">Thêm sinh viên mới</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="mssv">MSSV</label>
                                                    <input type="text" class="form-control" id="addMSSV" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="LastName">Họ</label>
                                                    <input type="text" class="form-control" id="addLastName" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="FirstName">Tên</label>
                                                    <input type="text" class="form-control" id="addFirstName" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="ClassSH">Lớp Sinh Hoạt</label>
                                                    <input type="text" class="form-control" id="addClassSH" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="DoB">Ngày Sinh</label>
                                                    <input type="text" class="form-control" id="addDoB" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="PoB">Nơi Sinh</label>
                                                    <input type="text" class="form-control" id="addPoB" >
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button id="addNew_saveChanges" type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/logout" value="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/teacherJS/jquery.min.js}"></script>
<script th:src="@{js/teacherJS/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/js/teacherJS/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/teacherJS/sb-admin-2.min.js}"></script>

</body>

</html>
