<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Teacher - Update Quiz</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">

    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}" rel="stylesheet">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script th:src='@{https://kit.fontawesome.com/a076d05399.js}'></script>

    <!-- Custom styles for this template-->
    <link th:href="@{/css/teacherCSS/sb-admin-2.min.css}" rel="stylesheet">
    <style type="text/css">

        table.table td a {
            cursor: pointer;
            display: inline-block;
            margin: 0 5px;
            min-width: 24px;
        }

        table.table td a.edit {
            color: #FFC107;
        }

        table.table td a.delete {
            color: #E34724;
        }

        table.table td i {
            font-size: 19px;
        }
    </style>


    <script type="text/javascript">

        // select choice a field and a subject
        $(document).ready(function () {
            //Show DataTable
            $('#listSection').on('change', e => {
                var section_id_value = $('#listSection option:selected').val();
                console.log(section_id_value);
                if (section_id_value === 'C plus - plus') {
                    console.log("Done!");
                    $('#listTopic').empty();
                    $('#listTopic').append("<option selected>" + "Topics..." + "</option>");
                    $('#listTopic').append("<option value=" + '"Constructors"' + ">" + "Constructors" + "</option>");
                    $('#listTopic').append("<option value=" + '"This Pointer"' + ">" + "This Pointer" + "</option>");
                    $('#listTopic').append("<option value=" + '"Inheritance"' + ">" + "Inheritance" + "</option>");
                    $('#listTopic').append("<option value=" + '"New and Delete"' + ">" + "New and Delete" + "</option>");
                }
                if (section_id_value === 'Java') {
                    $('#listTopic').empty();
                    $('#listTopic').append("<option selected>" + "Topics..." + "</option>");
                    $('#listTopic').append("<option value=" + '"Functions"' + ">" + "Functions" + "</option>");
                    $('#listTopic').append("<option value=" + '"Inheritance"' + ">" + "Inheritance" + "</option>");
                    $('#listTopic').append("<option value=" + '"Constructors"' + ">" + "Constructors" + "</option>");
                    $('#listTopic').append("<option value=" + '"Arrays"' + ">" + "Arrays" + "</option>");

                }
                if (section_id_value === 'Python') {
                    $('#listTopic').empty();
                    $('#listTopic').append("<option selected>" + "Topics..." + "</option>");
                    $('#listTopic').append("<option value=" + '"Functions"' + ">" + "Functions" + "</option>");
                    $('#listTopic').append("<option value=" + '"Miscellaneous"' + ">" + "Miscellaneous" + "</option>");
                    $('#listTopic').append("<option value=" + '"Data Type"' + ">" + "Data Type" + "</option>");
                    $('#listTopic').append("<option value=" + '"Output"' + ">" + "Output" + "</option>");
                }
                if (section_id_value === 'Data Structures') {
                    $('#listTopic').empty();
                    $('#listTopic').append("<option selected>" + "Topics..." + "</option>");
                    $('#listTopic').append("<option value=" + '"Linked List"' + ">" + "Linked List" + "</option>");
                    $('#listTopic').append("<option value=" + '"Stack"' + ">" + "Stack" + "</option>");
                    $('#listTopic').append("<option value=" + '"Binary Trees"' + ">" + "Binary Trees" + "</option>");
                    $('#listTopic').append("<option value=" + '"Graph"' + ">" + "Graph" + "</option>");
                    $('#listTopic').append("<option value=" + '"Hash"' + ">" + "Hash" + "</option>");
                    $('#listTopic').append("<option value=" + '"Misc"' + ">" + "Misc" + "</option>");
                }
            })
            $('#listTopic').on('change', e => {
                var section_id_value = $('#listTopic option:selected').val();
                console.log(section_id_value);
                if (section_id_value === 'Constructors') {
                    $('#quizs').empty()
                    $('#quizs').append("<tr>" +
                        "<td id='ID1' value='1'>1</td>" +
                        "<td id='section1' value='C plus - plus'>C plus - plus</td>" +
                        "<td id='topic1' value='Constructors'>Constructors</td>" +
                        "<td id='question1' value='question1'>Question 1 ....</td>" +
                        "<td>" +
                        "<a class='edit' title='Edit' th:id='${user.id}' data-toggle='tooltip'><i th:id='${user.id}' class='material-icons'>&#xE254;</i></a>" +
                        "<a th:id='${user.id}' class='delete' title='Delete' data-toggle='tooltip'><i th:id='${user.id}' class='material-icons'>&#xE872;</i></a>" +
                        "</td>" +
                        "</tr>")
                }
                if (section_id_value === 'This Pointer') {
                    $('#quizs').empty()
                    $('#quizs').append("<tr>" +
                        "<td id='ID2' value='2'>2</td>" +
                        "<td id='section2' value='C plus - plus'>C plus - plus</td>" +
                        "<td id='topic2' value='This Pointer'>This Pointer</td>" +
                        "<td id='question2' value='question2'>Question 2 ....</td>" +
                        "<td>" +
                        "<a class='edit' title='Edit' th:id='${user.id}' data-toggle='tooltip'><i th:id='${user.id}' class='material-icons'>&#xE254;</i></a>" +
                        "<a th:id='${user.id}' class='delete' title='Delete' data-toggle='tooltip'><i th:id='${user.id}' class='material-icons'>&#xE872;</i></a>" +
                        "</td>" +
                        "</tr>")
                }
                if (section_id_value === 'Inheritance') {
                    $('#quizs').empty()
                    $('#quizs').append("<tr>" +
                        "<td id='ID3' value='3'>3</td>" +
                        "<td id='section3' value='C plus - plus'>C plus - plus</td>" +
                        "<td id='topic3' value='Inheritance'>Inheritance</td>" +
                        "<td id='question3' value='question3'>Question 3 ....</td>" +
                        "<td>" +
                        "<a class='edit' title='Edit' th:id='${user.id}' data-toggle='tooltip'><i th:id='${user.id}' class='material-icons'>&#xE254;</i></a>" +
                        "<a th:id='${user.id}' class='delete' title='Delete' data-toggle='tooltip'><i th:id='${user.id}' class='material-icons'>&#xE872;</i></a>" +
                        "</td>" +
                        "</tr>")

                }
                if (section_id_value === 'Inheritance') {
                    $('#quizs').empty()
                    $('#quizs').append("<tr>" +
                        "<td id='ID4' value='4'>4</td>" +
                        "<td id='section4' value='C plus - plus'>C plus - plus</td>" +
                        "<td id='topic4' value='New and Delete'>New and Delete</td>" +
                        "<td id='question4' value='question4'>Question 4 ....</td>" +
                        "<td>" +
                        "<a class='edit' title='Edit' th:id='${user.id}' data-toggle='tooltip'><i th:id='${user.id}' class='material-icons'>&#xE254;</i></a>" +
                        "<a th:id='${user.id}' class='delete' title='Delete' data-toggle='tooltip'><i th:id='${user.id}' class='material-icons'>&#xE872;</i></a>" +
                        "</td>" +
                        "</tr>")

                }
                if (section_id_value === 'Section') {
                    $('#quizs').empty();
                }
                $('.edit').on('click', e => {
                    $('#editModal').modal('show');
                    console.log($(e.target).context.id)
                    var user_id = $(e.target).context.id;

                    $.ajax({
                        type: "POST", url: "/api/admin/getUser", dataType: 'json',
                        data: {
                            user_id: user_id
                        }, success: function (result) {
                            console.log(result);
                        }
                    })
                        .done(function (data) {
                            var lastname = data.lastName
                            var firstname = data.firstName
                            console.log(lastname + '   ' + firstname);
                            var userEmail = data.email;
                            $("#editModal #editLastName").val(lastname);
                            $("#editModal #editFirstName").val(firstname);
                            $("#editModal #editUserEmail").val(userEmail);
                        });
                })
                $('.delete').on('click', e => {
                    $('#deleteModal').modal('show');
                    var user_id = $(e.target).context.id;
                    $('#save_delete').on('click', function () {
                        console.log("in here")
                        console.log(user_id)
                        $.ajax({
                            type: "POST", url: "/api/admin/DeleteUser", dataType: 'json',
                            data: {
                                user_id: user_id
                            }, success: function (result) {
                                $('#deleteModal').modal('hide');
                            }
                        })
                            .done(function (data) {
                                console.log("Yeah")
                            });
                        $('#deleteModal').modal('hide');

                        $(e.target)[0].parentNode.closest("tr").remove()
                    })
                })
                $('#saveChanges').on('click', e => {
                    var lastname = $("#editModal #editLastName").val().trim()
                    var firstname = $("#editModal #editFirstName").val().trim()
                    var useremail = $("#editModal #editUserEmail").val().trim()

                    $.ajax({
                        type: 'POST', url: "/api/admin/changeProfile", dataType: 'json',
                        data: {
                            lastName: lastname,
                            firstName: firstname,
                            userEmail: useremail
                        }, success: function (result) {

                        }
                    })
                        .done(function (data) {
                            $('#editModal').modal('hide');
                            location.reload();
                            // $('#datatable .lastName').val(data.lastName)
                            // $('#datatable .firstNName').val(data.firstName)
                            // $('#datatable .userEmail').val(data.userEmail)
                        });
                });
            });
        })
    </script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="class.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Update Quiz</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="class.html">
                <i class="fas fa-fw fa-table"></i>
                <span>CẬP NHẬT QUIZ</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
               aria-controls="collapseTwo">
                <i class="fas fa-fw fa-user-edit"></i>
                <span>QUẢN LÝ</span>
            </a>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">QUẢN LÝ:</h6>
                    <a class="collapse-item active" href="teacher.html">LỚP</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-edit"></i>
                <span>QUIZ</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Custom QUIZ:</h6>
                    <a class="collapse-item" href="addQuiz.html">Thêm quiz mới</a>
                    <a class="collapse-item" href="updateQuiz.html">Cập nhật quiz</a>
                    <a class="collapse-item" href="addBaiLam.html">Thêm Bài Test</a>

                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>


                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Huynh Huu Phuoc</span>
                            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Cập nhật Quiz</h1>

                <div class="row">

                    <div class="col-lg-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <form>
                                    <select class="custom-select" style="width: 30%" id="listSection">
                                        <option id="Section" value="Section" selected>Section...</option>
                                        <option id="C plus - plus" value="C plus - plus">C plus - plus</option>
                                        <option id="Java" value="Java">Java</option>
                                        <option id="Python" value="Python">Python</option>
                                        <option id="Data Structures" value="Data Structures">Data Structures</option>
                                    </select>
                                    <select class="custom-select" style="width: 30%" id="listTopic">
                                        <option selected>Topics...</option>
                                    </select>
                                </form>
                            </div>

                            <div class="card-body">
                                <table id="datatable" class="table table-bordered table-striped" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th>Số thứ tự</th>
                                        <th>Môn</th>
                                        <th>Phần</th>
                                        <th>Nội dung câu hỏi</th>
                                        <th>Cài đặt</th>
                                    </tr>
                                    </thead>
                                    <tbody id="quizs">

                                    </tbody>
                                </table>
                                <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Xóa sinh viên này ?</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Bạn có muốn xóa câu hỏi này ? </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button id="save_delete" type="button" class="btn btn-primary">Có, hãy
                                                    xóa câu hỏi này
                                                </button>
                                                <button type="button" class="btn btn-secondary save_delete"
                                                        data-dismiss="modal">Đóng
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModal_title">Sửa câu hỏi</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form name="ckeditor" th:action="@{/api/admin/addQuestion}">
                                                    <br>
                                                    <textarea name="editor1" id="editor1" rows="12" cols="350"
                                                              style="width: 770px">
                                                    </textarea>
                                                    <script>
                                                        // Replace the <textarea id="editor1"> with a CKEditor
                                                        // instance, using default configuration.
                                                        CKEDITOR.replace('editor1');
                                                    </script>
                                                    <div class="form-group">
                                                        <label for="formGroupExampleInput">First Choice</label>
                                                        <input type="text" class="form-control" id="Choice1"
                                                               placeholder="First choice">
                                                        <input type="radio" class="form-check-input" name="optradio"
                                                               value="1" style="margin-left: -0.9rem; margin-top: 0.3rem">This is the right Choice
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="formGroupExampleInput2">Second Choice</label>
                                                        <input type="text" class="form-control" id="Choice2"
                                                               placeholder="Second Choice">
                                                        <input type="radio" class="form-check-input" name="optradio"
                                                               value="2" style="margin-left: -0.9rem; margin-top: 0.3rem" >This is the right Choice
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="formGroupExampleInput2">Third Choice</label>
                                                        <input type="text" class="form-control" id="Choice3"
                                                               placeholder="Third choice">
                                                        <input type="radio" class="form-check-input" name="optradio"
                                                               value="3" style="margin-left: -0.9rem; margin-top: 0.3rem">This is the right Choice
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="formGroupExampleInput2">Fourth choice</label>
                                                        <input type="text" class="form-control" id="Choice4"
                                                               placeholder="Fourth choice">
                                                        <input type="radio" class="form-check-input" name="optradio"
                                                               value="4" style="margin-left: -0.9rem; margin-top: 0.3rem">This is the right Choice
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Đóng
                                                </button>
                                                <button id="saveChanges" type="button" class="btn btn-primary">Lưu thay
                                                    đổi
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/logout" value="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/js/teacherJS/jquery.min.js}"></script>
<script th:src="@{js/teacherJS/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/js/teacherJS/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/teacherJS/sb-admin-2.min.js}"></script>

</body>

</html>
