<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>UserProfile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .btn btn-info btn-lg {
            right:0!important;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#save').on('click', e => {
                console.log("click")
                let firstName = $('#firstName').val()
                let lastName = $('#lastName').val()
                let MSSV = $('#MSSV').val()
                let location = $('#location').val()
                let email = $('#email').val()
                let password = $('#password').val()
                let re_password = $('#re-password').val()
                console.log(firstName + lastName + email + password + ' ' + re_password + '  ' + location + '  ' + MSSV)
                if (password == re_password)
                {
                    $.ajax({
                        type: "POST", url: "/changeUserProfile", dataType: 'json',
                        data: {
                            firstName: firstName,
                            lastName: lastName,
                            email: email,
                            password: password,
                            re_password: re_password
                        }, success: function (result) {
                        }
                    })
                    $('#Success').modal('show');
                }

            })
            $('.save_user').on('click', e =>{
                console.log("abc")
                $('#Success').modal('hide');
                location.reload()
            })

        })
        function toSectionPage(userCourse) {
            console.log(userCourse)
            $.ajax({type: "GET", url: "/section", dataType: 'json',
                data : {
                    userCourse : userCourse
                },success: function(result){

                }})
        }
    </script>
</head>
<div class="profile clearfix">
    <div class="navbar bg-dark ">
        <!-- Brand -->
        <!-- Links -->

        <div class="navbar-nav"  style="
    width: 20%;
    align-items: flex-end;
">

            <li class="nav-item dropdown">
                <label class="nav-link">Take a quiz</label>
                <div class="dropdown-content" >
                    <div th:each="course : ${listCourse}">
                        <form th:id="${course.id}" th:action="@{/getSection}">
                           <a th:name="courseID" onclick="document.getElementById(this.id).submit();" th:text="${course.name}" th:value="${course.name}" th:id="${course.id}" ></a>
                        </form>
                    </div>
                </div>
                <style>
                    label{
                        color: #377AB7;
                        font-size: large;
                    }
                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }
                    .dropdown-content {
                        display: none;
                        position: absolute;
                        right: 0;
                        background-color: #f9f9f9;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                    }
                    .dropdown-content a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                    }

                    .dropdown-content a:hover {background-color: #337AB7;}
                    .dropdown:hover .dropdown-content {display: block;}
                </style>
            </li>

        </div>

        <div class="d-flex"  style="
    width: 80%;
    justify-content: flex-end;
">
            <div>
                <a class="nav-link" href="../userProfile.html">Profile</a>
            </div>
            <div>
                <a class="nav-link" href="../userResult.html">User result</a>
            </div>
            <div>
                <a style="margin-right: 10px" href="/logout" class="btn btn-info btn-lg" value="/logout">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </a>
            </div>
        </div>



        <!--        <form class="form-inline my-2 my-lg-0">-->
        <!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--        </form>-->
    </div>
</div>
<div class="container">
    <div class="row my-2" th:each="user : ${current_user}">
        <div class="col-lg-8 order-lg-2" th:each="class : ${user_class}" >
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Edit</a>
                </li>
            </ul>
            <div class="tab-content py-4">
                <div class="tab-pane active" id="profile">
                    <h3 class="mb-3">User Profile</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>About</h4>
                            <p th:text="'Name : ' + ${user.firstName + user.lastName}">
                            <p th:text="'Class : '+ ${class.className}"></p>
                            <p th:text="'Email : ' + ${user.email}">
                            <p th:text="'Location : ' + ${user.Location}">

                        </div>

                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="edit">
                    <form role="form">
                        <div class="container">
                            <h1>Edit Profile</h1>
                            <hr>
                            <div class="row">
                                <!-- left column -->
                                <div class="col-md-3">
                                </div>

                                <!-- edit form column -->
                                <div class="col-md-9 personal-info">
                                    <div class="alert alert-info alert-dismissable">
                                        <a class="panel-close close" data-dismiss="alert">×</a>
                                        <i class="fa fa-coffee"></i>
                                        This is an <strong>alert</strong>.Take a minutes to fill information
                                    </div>
                                    <h3>Personal info</h3>

                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">First name:</label>
                                            <div class="col-lg-8">
                                                <input id="firstName" class="form-control" type="text" th:value=" ${user.firstName}">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Last name:</label>
                                            <div class="col-lg-8">
                                                <input id="lastName" class="form-control" type="text" th:value=" ${user.lastName}">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">MSSV:</label>
                                            <div class="col-lg-8">
                                                <input id="MSSV" class="form-control" type="text" th:value=" ${user.MSSV}">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Nơi sinh:</label>
                                            <div class="col-lg-8">
                                                <input id="location" class="form-control" type="text" th:value=" ${user.Location}">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label class="col-lg-3 control-label">Email:</label>
                                            <div class="col-lg-8">
                                                <input id="email" class="form-control" type="text" th:value="${user.email}" readonly="">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Password:</label>
                                            <div class="col-md-8">
                                                <input id="password" class="form-control" type="password">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Confirm password:</label>
                                            <div class="col-md-8">
                                                <input id="re-password" class="form-control" type="password">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-8">
                                                <input type="button" id="save" class="btn btn-primary edit" value="Save Changes">
                                                <span></span>
                                                <input type="reset" class="btn btn-default" value="Cancel">
                                            </div>
                                        </div>
                                    </form>
                                </div>
<!--                                <div class="modal" id="Success" tabindex="-1" role="dialog">-->
<!--                                    <div class="modal-dialog" role="document">-->
<!--                                        <div class="modal-content">-->
<!--                                            <div class="modal-header">-->
<!--                                                <h5 class="modal-title">Delete this person ?</h5>-->
<!--                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                                    <span aria-hidden="true">×</span>-->
<!--                                                </button>-->
<!--                                            </div>-->
<!--                                            <div class="modal-body">-->
<!--                                                <p>Your profile has been updated</p>-->
<!--                                            </div>-->
<!--                                            <div class="modal-footer">-->
<!--                                                <button type="button" class="btn btn-secondary save_user" data-dismiss="modal">Close</button>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>